<div class="container">
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">Scrape Articles</a>
    <ul>
        <li><a href="/scrape">Scrape the Articles</a></li>
        <li><a href="/saved">Saved Articles</a></li>

    </ul>

</nav>
<div class="container">
    <h1>Saved Articles</h1>
    {{#each db_headlines}}
    <div class="row">
        <div class="col-10">
            <h3>{{this.title}}</h3>
            <h4>{{this.link}}</h4>
            <h4>{{this.summary}}</h4>
        </div>
    </div>
    {{/each}}
</div>
</div>